html {
	scroll-behavior: smooth;
}

#section1 {
  height: 1500px;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('sourcesanspro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-style: normal;
	line-height: 30px;
	background-color: #ffffff;
	letter-spacing: 0.8px;
}

p {
	font-size: 18px;
}

br {
	height:100px;
}

h3 {
	font-family: futura;
	font-weight:bold;
	font-size: 25px;
}

/* navigation bar */
nav {
	display: block;
	float:right;
	margin: 5%;
	margin-right: 10%;
	word-spacing: 30px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

nav a {
	color:black;
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	color:#999999;
}

.container {  /*container for whole page content so there's 30% margin*/
	width:70%;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.work-me-intro{
	margin-top: 80px;
	text-align:left; 
}

.intro-link a {
	color:#999999;
	text-decoration: none;
}

.intro-link a:hover {
	color:#544bff;
	text-decoration: none;
}

.thumbnail-grid { /*on work page that displays all work*/
	margin-top:60px;
	margin-bottom:120px;
}

.work-intro {
	width:95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.work-content {
	width:60%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	font-size: 18px;
	margin: 0;
}

#img_cap {
	font-size: 13px;
	color:#999999;
	line-height: 12px;
	text-align: center;
}
/* hover overlay effect */
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .4s ease;
  background-color: white;
}

.description {
	font-size:17px;
}

/*animation*/
.zoom {
	transition: transform .2s;
}

.zoom:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.04); 
	box-shadow: 0px 0px 10px lightgrey;
}

.project-quicknav{
	text-align: center;
	font-weight: bold;
}

.project-quicknav a {
	color:black;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}

.project-quicknav a:hover {
	color:#544bff;
	text-decoration: none;
}

/* footer css */
hr {
	width:65%;
	color:grey;
}

.footer{
  	bottom: 0;
  	padding-bottom:20px;
}

#footer-content {
	width:70%;
	margin:auto;
}

#footer-text {
	text-align: left;
	line-height: 30px;
	font-size: 15px;
	color: black;
}

#footer-link span{
	line-height: 10px;
	text-align:center;
	color:black;
	word-spacing: 20px;
}

#footer-link span:hover {
	text-decoration: none;
	color:#544bff;
}




