
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');


html {
	scroll-behavior: smooth;
}

#section1 {
  height: 1500px;
}

body {
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0.8px;
	color:black;
	background-color: #ffffff;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	line-height: 32px;
}

br {
	height:100px;
}

h3 {
	font-family: 'Epilogue', sans-serif;
	font-weight:bold;
	font-size: 26px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 26px;
}

h5 {
	font-family: 'Epilogue', sans-serif;
	font-size: 22px;
}

/* nav bar */
nav {
	display: block;
	margin: 4%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Epilogue', sans-serif;
}

nav a {
	color:black;
	text-decoration: none;
	padding:5px;
	margin:8px;
}

nav a:hover {
	text-decoration: none;
	color: grey;
}

.logo {
	float:left;
}

.nav-content {
	float:right;
}

h3 a span img {
	display:none;
}


/*h3 a:hover span img { 
	display:block;
	width:20%;
}*/

/*.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 100px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 3px 4px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}*/

/*page transition*/

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#aboutme-nav:hover {
	color: grey;/*#5081b2;*/
}

.seeprototype a:hover {
	color:white;
	text-decoration: none;
	background-color: #e85c4c;
  	border: 2px solid #e85c4c;
  	border-radius: 5px;
  	font-weight: bold;
  	font-size: 16px;
  	padding:5px;
  	padding-left: 15px;
  	padding-right: 15px;
  	display: inline-block;
}

.seeprototype a {
	color:black;
	text-decoration: none;
	background-color: transparent;
  	border: 2px solid black;
  	border-radius: 5px;
  	font-weight: bold;
  	font-size: 16px;
  	padding:5px;
  	padding-left: 15px;
  	padding-right: 15px;
  	display: inline-block;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.work-me-intro{
	margin-right: auto;
	margin-left: auto;
	text-align:left; 
	width:70%;
}

.about-me {
	margin-right: auto;
	margin-left: auto;
	width:70%;
	padding:60px;
	padding-top: 30px;
	line-height: 32px;
	font-size: 20px;
}

.intro-link a {
	color: #1870E6;
	text-decoration: none;
}

.intro-link a:hover {
	color: grey;
	text-decoration: none;
}

.thumbnail-grid { /*on work page that displays all work*/
	margin-top:60px;
	margin-bottom:120px;
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

.work-intro {
	width:80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.work-content {
	width:60%;
	margin-left: auto;
	margin-right: auto;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

#collage {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

ul{
	font-size: 18px;
}

#img_cap {
	font-size: 13px;
	color:#999999;
	line-height: 12px;
	text-align: center;
}
/* hover overlay effect */
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  transition: .4s ease;
  background-color: white;
}

.description {
	font-size:17px;
}

/*animation*/
.thumbnail_trans {
	transition: transform .2s;
}

.thumbnail_trans:hover {
	-ms-transform: scale(0.9); /* IE 9 */
	-webkit-transform: scale(0.9); /* Safari 3-8 */
	transform: scale(0.95); 
}

.project-quicknav{
	text-align: center;
	font-weight: bold;
}

.project-quicknav a {
	color:black;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}

.project-quicknav a:hover {
	color: grey;/*#5081b2;*/
	text-decoration: none;
}

hr {
	background-color:lightgrey;
}

/* bouncing arrow */
@-webkit-keyframes bounce {
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes bounce {
  60% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

/* footer css */
.footer{
  	bottom: 0;
  	height: 200px;
  	padding-top: 50px;
  	padding-bottom: 50px;
  	text-align: center;
  	background-color: black;
  	max-width: 100%;
}

#footer-content {
	width:93%;
	margin:auto;
	line-height: 20px;
}

#footer-text {
	text-align: left;
	font-size: 20px;
	color: white;
	font-weight: 500;
}

#footer-link a{
	line-height: 20px;
	text-align: right;
	display: block;
	color:white;
	word-spacing: 30px;
	font-weight: 500;
	font-size: 20px;
}

#footer-link a:hover {
	text-decoration: none;
	color: #e85c4c;
}





