@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
	overflow-x:hidden;
}

#section1 {
  height: 1500px;
}

body {
	font-style: normal;
	line-height: 32px;
	letter-spacing: 0.8px;
	color:black;
	background-color: #ffffff;
}

/*typography*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  	font-family: 'Merriweather Sans', sans-serif;
  	font-weight:700;
  	color: #212121;
}

h1 {
	font-size: 73px;
	line-height: 75px;
}

h2 {
	font-size: 60px;
	line-height: 74px;
}

h3 {
	font-size: 32px;
	line-height: 50px;
}

h4 {
	font-size: 30px;
	line-height: 40px;
}

h5 {
	font-size: 18px;
	line-height: 26px;
}

h6 {
	font-size: 18px;
	line-height: 30px;
	font-weight:300;
}


p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

ul li {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

hr {
	border: 0;
    border-top: 1px solid lightgrey;
}

/* nav bar */
nav {
	width: 100%;
	padding-top:2%;
	padding-bottom: 0.5%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 500;
	text-decoration: none;
	font-family: 'IBM Plex Sans', sans-serif;
    z-index: 1030;
 	align-items: center;
 	background-color: #ffffff;
}

.nav-content {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}


.nav-page {
	float:right;
	color:#212121;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-weight:400;
}

.nav-page a{
	color:#212121;
	text-decoration: none;
	padding-left:8px;
	margin-left:30px;
	text-align: center;
}

.nav-page a:hover{
	color:grey;
	text-decoration: none;
}


.logo a{
	position: absolute;
    text-decoration: none;
	color:#212121;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.nav-social {
	float:left;
    color:#212121;
}

.nav-social a {
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color:#212121;
}

.nav-social a:hover {
	text-decoration: none;
	color:grey;
}


h3 a span img {
	display:none;
}


/*page transition*/

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/*page transition end*/

#aboutme-nav:hover {
	color: grey;/*#5081b2;*/
}

.seeprototype a:hover {
	color:white;
	text-decoration: none;
	background-color: #e85c4c;
  	border: 2px solid #e85c4c;
  	border-radius: 5px;
  	font-weight: bold;
  	font-size: 16px;
  	padding:5px;
  	padding-left: 15px;
  	padding-right: 15px;
  	display: inline-block;
}

.seeprototype a {
	color:#212121;
	text-decoration: none;
	background-color: transparent;
  	border: 2px solid #212121;
  	border-radius: 5px;
  	font-weight: bold;
  	font-size: 16px;
  	padding:5px;
  	padding-left: 15px;
  	padding-right: 15px;
  	display: inline-block;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.back p{
	font-size: 14px;
	color:grey;
	display: inline-block;
}


.work-me-intro{
	margin-right: auto;
	margin-left: auto;
	text-align:left; 
	width:75%;
	color:#212121;
}

.social a {
	color: black;
	text-decoration: none;
}

.social a:hover {
	color: grey;
	text-decoration: none;
}

.social-white a {
	color: white;
	text-decoration: none;
}

.social-white a:hover {
	color: grey;
	text-decoration: none;
}

.about-me {
	margin-right: auto;
	margin-left: auto;
	width:75%;
	line-height: 32px;
	font-size: 20px;
}

.intro-link a {
	color: #1870E6;
	text-decoration: none;
}

.intro-link a:hover {
	color: grey;
	text-decoration: none;
}

#work { /*on work page that displays all work*/
	margin-bottom:70px;
	margin-left: auto;
	margin-right: auto;
	width:75%;
	margin-bottom: 80px;
}

.thumbnail {
  	position: relative;
  	width: 100%;
  	text-decoration: none;
  	border-radius: 3px;
}

.thumbnail-img {
	display: block;
  	width: 100%;
  	height: auto;
  	border-radius: 3px;
}

.thumbnail-text{
  	/*width: 90%;
  	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/

}

.thumbnail-text h5{
	color:white;
	font-size: 22px;
	line-height: 20px;
	font-weight: 700;
}

.thumbnail-text p{
	color:grey;
	font-size: 18px;
	line-height: 16px;
	font-weight: 400;
}

.thumbnail-container {
  position: relative;
  width: 50%;
  border-radius: 3px;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .4s ease;
  background-color: #000000;
  border-radius: 3px;
}

.thumbnail-container:hover .overlay {
  opacity: 0.3;
}

.zoom {
  	transition: transform .3s; 
  	transition-delay: 0.05s;
}

.zoom:hover {
  	transform: scale(0.95); 
}

.work-intro {
	width:75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.work-intro-info {
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

.work-info{
	padding-right: 20px;
}

.work-content {
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

ul{
	font-size: 18px;
}

#img_cap {
	font-size: 13px;
	color:#999999;
	line-height: 12px;
	text-align: center;
}

hr {
	background-color:lightgrey;
}

.seeresume {
	border:2px solid #212121; 
	padding-left:15px;
	padding-right:15px;
	padding-top:9px;
	display: inline-block;
	border-radius:3px;
}

.seeresume:hover {
	background-color: #212121;
}

.seeresume:hover h6 {
	color: white;
	text-decoration: none;
}

/* footer css */
.footer{
  	bottom: 0;
  	padding-bottom: 15px;
  	padding-top: 20px;
  	max-width: 100%;
}

.footer-content {
	width: 75%;
	font-size: 16px;
	padding-bottom: 20px;
  	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.byme {
	color:#212121;
	font-weight: 500;
	text-align: left;
}

.footer-link p{
	text-align: right;
}

.footer-link p a {
	color:#212121;
	font-weight: 500;
}

.footer-link p a:hover {
	text-decoration: none;
	color:grey;
}

/* animations */

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;       
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;       
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}